<h1>Leader Board</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
     <% if user.score != 0 %>
       <tr>
         <td><p><%= user.user_name %></p></td>
        <td><p><%= user.score %></p></td>
        <% end %>
       </tr>
     <% end %>
    <% end %>
  </tbody>
</table>